<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<div  class="card text-white bg-success mb-3" style="max-width: 18rem;">
  <div class="card-header">{{book.author}}</div>
  <div class="card-body">
    <h5 class="card-title">{{book.book_name}}</h5>
    <p class="card-text">{{book.price}}</p>
      <p class="card-text">{{book.pages}}</p>
  </div>
</div>

</body>
</html>